.Pure-cont{
    margin: 10px 0 10px 50px;
}
.Pure-cont h1{
    margin-bottom: 1rem;
}
.Pure-cont button
{
    font-size: large;
    border: none;
    background: none;
    font-weight: bolder;
    
}
.Pure-cont button:hover span
{
    display: none;
}

.Pure-cont button:hover:before
{
    font-size: x-large;
    content: "Click ";
}
.Pure-cont h3
{
    color:rgb(85, 34, 123);

}
.ans-fl{
    display: flex;
    gap: 0 20px;
    height: 1rem;
    padding-bottom: 4rem;
    margin-bottom: 2rem;
}